<!DOCTYPE html>
<html>
<head>
  <title>Nilernium</title>
  <link href="https://fonts.googleapis.com/css?family=Alegreya|Eagle+Lake|Inconsolata"
        rel="stylesheet">
  <link rel="stylesheet" href="main.css" />
</head>

<body>
  <header>
    <div id="site-title">
      <h1>Nilernium</h1>
    </div>
    <div id="page-title"><h1></h1></div>
  </header>

  <div id="content">
    <nav>
      <ul>
        <li>
          <input type="checkbox" />
          <label></label>
          <ul>
            <li><a></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    
    <article>
      <table>
        <tr>
          <td><strong>created: </strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>tags: </strong></td>
          <td><ul id="page-tags"><li></li></ul></td>
        </tr>
      </table>
    </article>
  </div>
</body>
</html>
