<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.css" />
  <title>Nilernium</title>
</head>

<body>
  <header>
    <div id="site-title">
      <h1>Nilernium</h1>
    </div>
    <div id="page-title">
      <h1></h1>
      <table>
        <tr>
          <td><strong>created: </strong></td>
          <td></td>
        </tr>
        <tr>
          <td><strong>tags: </strong></td>
          <td><ul id="page-tags"><li></li></ul></td>
        </tr>
      </table>
    </div>
  </header>

  <article>
    <nav>
      <ul>
        <li>
          <span></span>
          <ul>
            <li><a></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </article>
</body>
</html>
